RubenSimarro/ProyectoServidor/WebContent/wsdl/DNI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculaLetraDNI">
    <complexType>
     <sequence>
      <element name="dni" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculaLetraDNIResponse">
    <complexType>
     <sequence>
      <element name="calculaLetraDNIReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculaLetraDNIRequest">

      <wsdl:part element="impl:calculaLetraDNI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculaLetraDNIResponse">

      <wsdl:part element="impl:calculaLetraDNIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DNI">

      <wsdl:operation name="calculaLetraDNI">

         <wsdl:input message="impl:calculaLetraDNIRequest" name="calculaLetraDNIRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculaLetraDNIResponse" name="calculaLetraDNIResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DNISoapBinding" type="impl:DNI">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculaLetraDNI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculaLetraDNIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculaLetraDNIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DNIService">

      <wsdl:port binding="impl:DNISoapBinding" name="DNI">

         <wsdlsoap:address location="http://localhost:8080/ProyectoServidor/services/DNI"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
