RubenSimarro/ProyectoServidor/WebContent/wsdl/Restador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="restador">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="restadorResponse">
    <complexType>
     <sequence>
      <element name="restadorReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="restadorRequest">

      <wsdl:part element="impl:restador" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restadorResponse">

      <wsdl:part element="impl:restadorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Restador">

      <wsdl:operation name="restador">

         <wsdl:input message="impl:restadorRequest" name="restadorRequest">

       </wsdl:input>

         <wsdl:output message="impl:restadorResponse" name="restadorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RestadorSoapBinding" type="impl:Restador">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="restador">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="restadorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="restadorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RestadorService">

      <wsdl:port binding="impl:RestadorSoapBinding" name="Restador">

         <wsdlsoap:address location="http://localhost:8080/ProyectoServidor/services/Restador"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
